.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.about .container .box-2 {
  text-align: justify;
}

.projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery .gallery-img {
  width: 100%;
  padding: 2px;
}

.gallery .row > * {
  padding: 0;
}

.contact {
  background-color: #e2edff;
}

@media (max-width: 768px) {
  .jumbotron .lead {
    font-size: 16px;
  }
}
